body {
    font-family: 'Roboto', sans-serif; /* Default font for the body */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Headers and titles */
}

p {
    font-family: 'Open Sans', sans-serif; /* Paragraph text */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.how-it-works {
    margin-bottom: 50px;
}